*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* == grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr; /*Valor minimo da primeira coluna = 200px, e maximo = 1fr e o resto sempre 1fr*/
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}   

.space{
    /*height: 300px;
    width: 300px; */
    color: white;
    font-size: 30px;
}

.one{
    background-color: #333453;
}

.two{
    background-color: #259b11;
}

.three{
    background-color: #800534;
}

.four{
    background-color: #0c8f9b;
}

.five{
    background-color: #ff0a0a;
}

.six{
    background-color: gray;
}

.seven{
    background-color: blue;
}

.eight{
    background-color: purple;
}

.nine{
    background-color: lightgreen;
}

