.box{
    width: 50px;
    height: 50px;
    background-color: #FF1493;
    
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 5px;

    margin: 10px 50px 30px 5px; /*top, right, bottom, left*/
}

