/*
    UNIDADE DE MEDIDAS

    -> ABSOLUTAS
        px (pixels)
        in (inches/polegadas)
        cm / mm (centímetro / milímetro)

    -> RELATIVAS 
        % calcula o tamanho relativo ao elemento pai
        vw (view width) 1vw é 1% da largura da janela do navegador (se adapta ao tamanho da janela)
        vh (view height) 1vh é 1% da altura da janela do navegador (se adapta ao tamanho da janela)
        em é uma unidade relativa ao elemento pai
        rem é uma unidade relativa ao elemento raiz
*/

.pai{
    width: 50vw; /*(se adapta ao tamanho da janela)*/
    height: 50vh; /*(se adapta ao tamanho da janela)*/
    background-color: blue;
}

.filho{
   width: 50%;
   height: 50%;
   background-color: red;
}