*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    margin-bottom: 124px;
}

button{
    position: absolute;
    top: 17px;
    right: 15px;
    height: 31px;
    width: 91px;
    padding: 6px 20px;
    border: none;
    border-radius: 1px;
    background-color: #6FBF44;
    color: white;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
     background-color: #488128;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

h1{
    width: 278px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #161A49;
    margin-bottom: 29px;
    line-height: 30px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: center;
    width: 304px;
    color: #4B505A;
    margin-bottom: 26px;
}

a{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
    text-decoration: none;
}

a:hover{
      color: #85e550;
}

a:active{
    color: #b9fb96;
}

img{
    width: 312px;
    height: 288px;
}