*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(161, 160, 160);
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

.space{
    color: black;
    font-size: 30px;
    background-color: rgb(162, 255, 68);
}

.five{
    align-self: center; /*alinha o conteúdo verticalmente*/
    justify-self: center; /*alinha o conteúdo horizontalmente*/
}