h1{
    color: red;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-shadow: 10px 10px 10px red; /*Sombreamento do seu texto, (para direita, para baixo, o quanto vai ficar esfumaçado, cor) */
}

p{
    color: blue;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 120px;
    letter-spacing: 10px; /*Espaçamento entre as letras*/
    word-spacing: 40px; /*Espaçamento entre as palavras*/
    text-align: center;
    text-transform: capitalize; /*Tranforma somente as primeiras letras de cada palavra em maiúsculo*/
    text-decoration: underline;
}